body {
    font-family: 'Poppins', sans-serif;
}

.carousel-item:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2))
}

@media screen and (max-width:576px) {
    .carouselItemsHeight {
        height: 350px;
    }

    .imgWidth {
        width: 100%;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .carousel-inner {
        margin-top: 30px;
        height: 400px;
    }
}

@media screen and (min-width:993px) {
    .carouselItemsHeight {
        height: 600px;
    }
}